#track-variable-content {
    display: none;
}

.shortcode-content.rating-faces {
    max-width: 500px;
}

.rating-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.rating-button {
    max-width: 77px;
    cursor: pointer;
    margin: 5px;
}

.track-icon {
    opacity: 0.5;
    transition: opacity 177ms linear;
}

.track-icon:hover {
    opacity: 1;
}