#track-variable-content {
    display: none;
}

.shortcode-content.rating-faces {
    max-width: 500px;
}

.rating-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.rating-button {
    max-width: 77px;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    transition: box-shadow 177ms linear;
}

.rating-button:hover {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

