.fieldsContainer {
    font-size: 0;
    max-width: 100%;
    position: relative;
}

.searchsubmit {
    padding: 6px 20px !important;
    text-transform: uppercase !important;
    background-color: #F16645 !important;
    color: #FFF !important;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    font-size: 14px !important;
    height: 34px !important;
    border: 1px solid #EFEFEF !important;
    border-left: none !important;
    vertical-align: bottom !important;
    margin-bottom: 10px;
    margin-top: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchsubmit:active {
    background-color: #d65a3d !important;
}

.selectOutputAsType {
    border: 1px solid #EFEFEF;
    padding: 6px 10px;
    color: #888;
    font-size: 14px;
    height: 34px;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-top: 0 !important;
    display: none;
}

.selectOutputAsType:focus {
    outline: none;
}

.searchVariable {
    border: 1px solid #EFEFEF;
    width: 100%;
    max-width: 400px;
    padding: 6px 20px;
    border-left: 1px solid #EFEFEF;
    color: #888;
    font-size: 14px;
    height: 34px;
    vertical-align: bottom;
    margin: 10px auto !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

#searchResultRegion {
    margin-top: 10px;
}

/* Responsive stuffs */
@media only screen and (max-width: 768px) {
    #searchResultRegion {
        margin: 15px !important;
        overflow: hidden;
    }

    .searchVariable {
        width: 90%;
    }

    .result-title {
        display: block;
        width: 92%;
    }

    .shop-cart {
        position: absolute;
        top: 0;
        right: 0;
    }
}

#searchResultRegion a, a:visited {
    outline: none;
    color: #389dc1;
}

#searchResultRegion a:hover {
    text-decoration: none;
}

#searchResultRegion section, footer, header, aside, nav {
    display: block;
}

#searchResultList ul {
    list-style: none;
    width: auto;
    text-align: left;
    padding: 0;
    margin: 0;
}

#searchResultList ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    overflow: hidden;
    padding-left: 0;
}

#searchResultList ul li img {
    width: 20px;
    border: none;
}

#searchResultList ul li p {
    margin-left: 75px;
    font-weight: bold;
    padding-top: 12px;
    color: #6e7a7f;
}

.resultVariableName {
    font-size: 18px;
    font-weight: bold;
    color: #1a0dab;
    position: relative;
}

.resultCategoryName {
    font-size: 12px;
    font-weight: bold;
    color: #777;
}

.correlationValue {
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #777;
}

.predictor {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.searchFormByDefault {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#paginationSearchResultList {
    font-size: 0;
    width: 62%;
    margin: 0 auto;
}

#paginationSearchResultList .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

#paginationSearchResultList .pagination > li {
    display: inline;
}

#paginationSearchResultList .pagination > li > a,
#paginationSearchResultList .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

#paginationSearchResultList .pagination > li:first-child > a,
#paginationSearchResultList .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#paginationSearchResultList .pagination > li:last-child > a,
#paginationSearchResultList .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#paginationSearchResultList .pagination > li > a:hover,
#paginationSearchResultList .pagination > li > span:hover,
#paginationSearchResultList .pagination > li > a:focus,
#paginationSearchResultList .pagination > li > span:focus {
    background-color: #eeeeee;
}

#paginationSearchResultList .pagination > .active > a,
#paginationSearchResultList .pagination > .active > span,
#paginationSearchResultList .pagination > .active > a:hover,
#paginationSearchResultList .pagination > .active > span:hover,
#paginationSearchResultList .pagination > .active > a:focus,
#paginationSearchResultList .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #dd3f19;
    border-color: #dd3f19;
    cursor: default;
}

#paginationSearchResultList .pagination > .disabled > span,
#paginationSearchResultList .pagination > .disabled > a,
#paginationSearchResultList .pagination > .disabled > a:hover,
#paginationSearchResultList .pagination > .disabled > a:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}

#paginationSearchResultList .pagination-lg > li > a,
#paginationSearchResultList .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

#paginationSearchResultList .pagination-lg > li:first-child > a,
#paginationSearchResultList .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#paginationSearchResultList .pagination-lg > li:last-child > a,
#paginationSearchResultList .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

#paginationSearchResultList .pagination-sm > li > a,
#paginationSearchResultList .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

#paginationSearchResultList .pagination-sm > li:first-child > a,
#paginationSearchResultList .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#paginationSearchResultList .pagination-sm > li:last-child > a,
#paginationSearchResultList .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.qmSearchLogo {
    background: url(images/quantimodo.png) center center no-repeat;
    background-size: 100% auto;
    height: 150px;
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    width: 90%;
}

.qmSearchMiniLogo {
    width: 123px;
    height: 26px;
    background: url(images/quantimodo.png) left top no-repeat;
    background-size: 100% auto;
    margin-bottom: 10px;
}

#searchResultList a {
    color: #1A0DAB;
    font-size: 24px;
    font-family: arial, sans-serif;
}

#searchResultList h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
}

#searchResultList .search-result {
    margin: 7px 0;
}

.details-and-controls {
    display: flex;
    align-items: center;
}

.details-and-controls > div:first-child {
    padding-left: 0px;
}

.details-and-controls p {
    margin: .10em 0;
}

.controls > * {
    font-size: 25px;
    cursor: pointer;
    opacity: 0.5;
}

.controls > *:hover {
    opacity: 1;
}

#searchResultRegion .controls a {
    text-decoration: none;
    color: inherit;
}

.variable-settings-modal .modal-body {
    max-height: 333px;
    overflow-y: scroll;
}

.modal-dialog {
    margin-top: 77px;
}

.qmwp-tooltip {
    font-size: small;
}

.no-correlations-message {
    text-align: center;
}

.inline-search {
    cursor: pointer;
    background: #F16645;
    color: #fff;
}