
#signup_block {
    margin:6px;
}

#record_a_measurement_block {
    margin-top:-6px;
    margin-left:10px;
    margin-right:4px;
}

#edt_record_a_measurement_block {
    margin-top:0px;
    margin-left:10px;
    margin-right:4px;
}

#add_record_a_measurement_block {
    margin-top:0px;
    margin-left:10px;
    margin-right:4px;
}

.inputContainer {
    width: 100%;
    margin: auto;
}

.sectionTitle b {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-left: 8px;
    font-size: 100%;
    color: #4387FD;
    border-bottom: 1px solid;
}

#sectionVariableNameInput {
    display: inline-block;
}

#sectionVariableNameInput button {
    border: none;
    background: none;
}

#sectionMeasurementInput {
    transition: opacity 350ms;
}

#add-addmeasurement-variable-name {
    width: 94%;
    padding: 2px;
    line-height: 1.1em;
    /*font-size: 1.1em; */
    margin-left: 2px;
    margin-top: -2px;
    transition: all 250ms;
}

#edt-addmeasurement-variable-name {
    width: 94%;
    padding: 2px;
    line-height: 1.1em;
    /*font-size: 1.1em; */
    margin-left: 2px;
    margin-top: -2px;
    transition: all 250ms;
}

#addmeasurement-variable-name:focus {
    box-shadow: 0px 1px 10px #BBBBBB;
    line-height: 1.2em;
}

#addmeasurement-dialog-content {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#addmeasurement-dialog-content table input[type=text] {
    /*font-size: 1em; */
    width: 100%;
}

#addmeasurement-dialog-content table select {
    /* font-size: 1em; */
    width: 100%;
    padding: 1px;
}

#addmeasurement-dialog-content td {
    padding-bottom: 4px;
    padding-top: 4px;
    border: none;
}

#addmeasurement-dialog-content td:first-child {
    white-space: nowrap;
}

/*
button {
	-webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.3);
	background-image: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-shadow: none;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
	background-color: #4387FD;
	border: none;
	color: white !important;
	line-height: 20px;
	padding: 8px 15px;
	text-align: center;
	font-size: 1em;
}

	
button: hover{
	background-color: #19adaa;
}
*/

#button-qm {
    margin: auto;
    padding: 8px 3px;
    width: 12%;
}

#button-qm img {
    height: 16px;
    width: 18px;
}

#button-close {
    margin: auto;
    padding: 8px 3px;
    width: 12%;
    background-color: #FF4444;
}

#button-close img {
    height: 16px;
    width: 18px;
}

#button-add {
    margin: auto;
    width: 73%;
    background-color: #99CC00
}

/*
**	Libraries
*/

.ui-autocomplete {
    position: absolute;
    cursor: default;
}

.ui-widget {
    position: absolute;
    cursor: default;
}

.ui-autocomplete-category {
    /*font-size:14px; */
}

.ui-menu .ui-menu-item {
    /*font-size: 14px; */
    background-color: #fff;
    margin-bottom: 1px;
}

.ui-corner-all {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ui-datepicker {
    /* font-size: 13px !important; */
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 1200000 !important;

}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .1em .2em;
    margin: .4em 0 .1em;
    line-height: 1.2;
}

.xdsoft_datetimepicker {
    z-index: 1200000 !important;
}

div#login h1 a {
    background-image: url(images/logo-full.png);
    padding-bottom: 30px;
    background-size: 280px 80px !important;
    width: auto;
    padding-bottom: 0px;
    color: #999;
    height: 80px;
    /* font-size: 20px; */
    font-weight: 400;
    line-height: 1.3em;
    padding: 0;
    text-decoration: none;
    width: 80px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
    repeat: no

}

div#login h4 {
    text-align: center;
    padding: 0px;
    line-height: 16px;
}

.width_220 {
    width: 220px;
}

.div_register {
    float: left;
    margin-left: 30px;
    margin-top: 0px;
}

.div_login {
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.face_goog_txt {
    width: 180px;
    margin-top: 6px;
    font-weight: bold;
}

.new_button {
    background-image: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #FFFFFF;
    border: none;
    color: black !important;
    line-height: 20px;
    padding: 6px 40px;
    text-align: center;
    /*font-size: 1em; */
    font-weight: bold;
    border: 2px solid #d0d0d0;
}

/*//////////////////// new */

.form-window div.container {
    width: 220px;
    margin: 0 auto;
}

.register-window #logo {
    float: left;
    margin: 0px 0 0px -26px;
}

.register-window h1 {
    clear: left;
    color: #009dc8;
    font-size: 52.5px;
    margin-bottom: 7px;
}

.form-window h1 {
    font-weight: 200;
    color: #00bbe8;
    text-align: left;
    margin: 20px auto;
    width: 100%;
}

.register-window .intro {
    margin-left: 1px;
    /*font-size: 15.5px; */
    line-height: 22px;
    color: #6b6b6b;
}

.form-window p {
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

.register-window .google-connect, .register-window .fb-connect {
    display: inline-block;
    position: relative;
    height: 49px;
}

.register-window .alreadybutton {
    background: url("../images/anydo-connect.png") 0 0 no-repeat;
    /*font-size: 15px; */
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #4199cc;
    width: 226px;
    height: 58px;
    line-height: 50px;
    display: block;
    padding-left: 100px;
}

.register-window .already {
    margin: 0;
}

.form-window .already {
    margin-top: 20px;
    cursor: pointer;
}

.register-window .register {
    float: left;
}

.register-window .register, .register-window .skip {
    color: #a8a8a8;
    /*font-size: 15px;*/
    cursor: pointer;
    margin: 7px 0;
}

.form-window button, .form-window .button, .form-window input[type=submit] {
    display: block;
    line-height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    /*font-size: 20px; */
    font-weight: 200;
    border: 1px solid #CCC;
    color: #333;
    border-image: initial;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: linear-gradient(top, #fafafa 0%, #eeeeee 100%);
}

button, .button, input[type=submit] {
    display: block;
    /*line-height: 40px;*/
    cursor: pointer;
    -webkit-appearance: none;
    width: auto;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: bold;
    border: 1px solid #CCC;
    color: #333;
    border-image: initial;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
    background-image: linear-gradient(top, #fafafa 0%, #eeeeee 100%);
}

.ui-autocomplete-loading {
    background: url('images/ajax-loader.gif') no-repeat right center
}

.clearfix {
    clear: both;
}

.validation-holder {
    color: #FF0000;
    clear: both;
    margin-bottom: 5px;
}

#addmeasurement-variable-name {
    width: 94%;
    padding: 5px;
    font-weight: 700;
}

#addmeasurement-variable-name.error {
    box-shadow: 0px 1px 10px #ff0000;
    outline: none;
}