@charset "utf-8";

#addVariableMenu ul {
    width: 220px;
}

.ui-icon, .ui-widget-content .ui-icon {
    margin-top: 2px;
}

#selectedVariables {
    margin-left: 16px;
    margin-bottom: 0;
    list-style: none;
}

#selectedVariables li:first-child {
    margin-top: 12px;
    margin-left: -12px;
}

#selectedVariables li {
    margin-left: -12px;
}

#selectedVariables .colorIndicator {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-right: 12px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

#selectedVariables .loading {
    background: url('https://i.imgur.com/f5ZQgfX.gif');
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

#selectedVariables .closeButton {
    cursor: pointer;
    float: right;
    padding-top: 4px;
    opacity: 0.07;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

#selectedVariables .eyeballButton {
    cursor: pointer;
    float: right;
    opacity: 0.07;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    padding: 4px 10px 0px 10px;
}

#selectedVariables .settingsButton {
    cursor: pointer;
    float: right;
    padding-top: 4px;
    opacity: 0.07;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

#selectedVariables li:hover {
    color: #29bdca;
}

#selectedVariables li:hover div {
    opacity: 1;
}

#content {
    background: #f2f2f2;
    padding: 0px 12px 12px 12px;
    width: 100%;
}

#section-configure {
    float: left;
    width: 300px;
}

#section-analyze {
    overflow: hidden;
    padding-left: 12px;
}

.card-header {
    width: 100%;
    height: 42px;
    display: block;
    font-size: 1.2em;
    text-indent: 14px;
    cursor: pointer;
    margin-top: 12px;
    /* don't allow selecting header content */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/***************************************/
/* Analyze section 					    */
/***************************************/
.graph-header {
    color: #fff;
    background: #29bdca;
    border-bottom: solid 3px #229DA5;
}

#timeline-graph {
    background: #FFFFFF;
}

.graph-content {
    width: 100%;
    height: 670px;
/ / background : #FFFFFF;
    border-bottom: solid 3px #DDDDDD;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    background: url(../images/QM-LOGO-CRAZY-ARROWS-blue.png) top center no-repeat;
    background-size: 50% auto;
}

/***************************************/
/* Left menubar					       */
/***************************************/
#section-configure-input {
    position: relative;
}

#section-configure-settings {
    overflow: hidden;
    position: relative;
}

.accordion-header {
    color: #29bdca;
}

/**************/
/* Date Range */
/**************/
#accordion-date-header {
    background: #fff;
    border-bottom: solid 3px #e5394a;
}

/******************/
/* Input variable */
/******************/
#accordion-input-header {
    background: #fff;
    border-bottom: solid 3px #65af5d;
}

#accordion-input-content {
    line-height: 2em;
    color: #555555;
}

#accordion-input-content select {
    background-color: #F6F6F6;
    margin-bottom: 12px;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #ddd;
}

#button-input-varsettings {
    width: 100%;
}

/******************/
/* Output variable*/
/******************/
#accordion-output-header {
    background: #fff;
    border-bottom: solid 3px #409caf;
}

#accordion-output-content {
    line-height: 2em;
    color: #555555;
}

#accordion-output-content select {
    background-color: #F6F6F6;
    margin-bottom: 12px;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #ddd;
}

#button-output-varsettings {
    width: 100%;
}

/* Responsive stuffs */
@media only screen and (max-width: 768px) {
    #section-configure {
        width: 100%;
    }

    #section-analyze {
        overflow: visible;
        padding: 0;
    }
}

.buttonrow-2 {
    margin: auto;
    width: 49%;
}

.ui-autocomplete-loading { background:url('images/ajax-loader.gif') no-repeat right center }
