
.star-rating {
    height: 24px
}

.star-tiny,.star-small {
    display: inline-block
}

.star-tiny {
    height: 16px;
    position: relative;
    top: -1px;
    width: 16px;
    vertical-align: middle
}

.star-tiny.star-full {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQVQoz2P4//8/AzmYgWKN6KC4uDgBhGF8UjQ+AGGSNEJt+w/FCXg1AhUUAHEDEB8A4g9IGj9AxUByBdg0LkBSjAsvwOpUApoX4PUjUMEFLJouEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=)
}

.star-tiny.star-empty {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQVQoz2P4//8/AzmYgWKN6KC4uFgYhGF8UjTqgjBJGqG2GUOxMF6NQAViQCwFxGpAbICk0QAqBpITw6ZRAUkxLqyA1akENCvg9SNQgRYWTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC)
}

.star-small {
    height: 32px;
    width: 32px
}

.star-small.star-full {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAtUlEQVRIx+2V0Q2AIAwFGcERHIVRGMGEBRjJERyBERjBDRBMIYQoaan4hcn9KH2HaVHhvRcjEVNAFrQurbWKtNZwBS4yRAC794AaIXCFwH0qCIGyCE/ILkEoXCFwC5jAUe0+vwU8M7A21qwYgX0Iw2IxgqVTEmsWVA86JHc4qckESQ4nT9HL9DSniSpQCIHiCAxCYDiCvQo7gPLezhHY4lDJqjfp8FmO4Gx92KBHJ0kwf5m/Cy7I+/QV0GWAnwAAAABJRU5ErkJggg==)
}

.star-small.star-empty {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsUlEQVRIx+2VwQqAIAyGhaCbJ6GD16CDIAg9mu+PaSwRKdlcdir4LuX+z9gsEUIQIxG/gCxoXd57lWit4QpsYogAdr8DaoTAFgL7qiAGyiL8QnYJYuEMgUtER7Zq9/kt4JmGtalmxgjMTRgWgxFMnZJUM6F60CE5w0lNJkhyOHmKHqanOU1UgUIIFEegEQLNEaxV2AaU91aOwBSHSla9uQ6f4Qhc68MGPXIkwf/L/FxwAO0mlhG18a/zAAAAAElFTkSuQmCC)
}

.write-star-rating-container {
    display: inline-block;
    cursor: pointer
}

.star-rating-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsUlEQVRIx+2VwQqAIAyGhaCbJ6GD16CDIAg9mu+PaSwRKdlcdir4LuX+z9gsEUIQIxG/gCxoXd57lWit4QpsYogAdr8DaoTAFgL7qiAGyiL8QnYJYuEMgUtER7Zq9/kt4JmGtalmxgjMTRgWgxFMnZJUM6F60CE5w0lNJkhyOHmKHqanOU1UgUIIFEegEQLNEaxV2AaU91aOwBSHSla9uQ6f4Qhc68MGPXIkwf/L/FxwAO0mlhG18a/zAAAAAElFTkSuQmCC) top left repeat-x;
    height: 24px;
    left: -1px;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 1px;
    width: 120px
}

.star-common {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 24px;
    z-index: 30
}

.small-star .star-rating-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsUlEQVRIx+2VwQqAIAyGhaCbJ6GD16CDIAg9mu+PaSwRKdlcdir4LuX+z9gsEUIQIxG/gCxoXd57lWit4QpsYogAdr8DaoTAFgL7qiAGyiL8QnYJYuEMgUtER7Zq9/kt4JmGtalmxgjMTRgWgxFMnZJUM6F60CE5w0lNJkhyOHmKHqanOU1UgUIIFEegEQLNEaxV2AaU91aOwBSHSla9uQ6f4Qhc68MGPXIkwf/L/FxwAO0mlhG18a/zAAAAAElFTkSuQmCC) top left repeat-x;
    height: 24px;
    width: 120px
}

.small-star .star-common {
    height: 24px;
    line-height: 24px;
    width: 24px
}

.small-star .star-common:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAtUlEQVRIx+2V0Q2AIAwFGcERHIVRGMGEBRjJERyBERjBDRBMIYQoaan4hcn9KH2HaVHhvRcjEVNAFrQurbWKtNZwBS4yRAC794AaIXCFwH0qCIGyCE/ILkEoXCFwC5jAUe0+vwU8M7A21qwYgX0Iw2IxgqVTEmsWVA86JHc4qckESQ4nT9HL9DSniSpQCIHiCAxCYDiCvQo7gPLezhHY4lDJqjfp8FmO4Gx92KBHJ0kwf5m/Cy7I+/QV0GWAnwAAAABJRU5ErkJggg==) left center repeat-x;
    left: 0px;
    z-index: 20
}


.neutral .small-star .star-common:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAtUlEQVRIx+2V0Q2AIAwFGcERHIVRGMGEBRjJERyBERjBDRBMIYQoaan4hcn9KH2HaVHhvRcjEVNAFrQurbWKtNZwBS4yRAC794AaIXCFwH0qCIGyCE/ILkEoXCFwC5jAUe0+vwU8M7A21qwYgX0Iw2IxgqVTEmsWVA86JHc4qckESQ4nT9HL9DSniSpQCIHiCAxCYDiCvQo7gPLezhHY4lDJqjfp8FmO4Gx92KBHJ0kwf5m/Cy7I+/QV0GWAnwAAAABJRU5ErkJggg==)
}

.small-star .first-star {
    left: 0px
}

.small-star .first-star:hover {
    width: 24px
}

.small-star .second-star {
    left: 24px
}

.small-star .second-star:hover {
    width: 48px
}

.small-star .third-star {
    left: 48px
}

.small-star .third-star:hover {
    width: 72px
}

.small-star .fourth-star {
    left: 72px
}

.small-star .fourth-star:hover {
    width: 96px
}

.small-star .fifth-star {
    left: 96px
}

.small-star .fifth-star:hover {
    width: 120px
}

.medium-star .star-rating-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAeCAYAAACc7RhZAAAA+klEQVRYw+2XUQqEMAxEPZpHy3cv1aNlKaRL7VqTuCzsJAoDCgrmddJMN2beMit18Q+AXwDwXKUUavJ8Ew1AbcoMgJtSAhD7s4iyAiDvPhAJQFv5XcSpAMxFdxiZABxs72mDKAAOK+5pg78HILOdNa1GoqIK4YABgqmvLftFD0wwLTD8OH1RPM0gofaAefVuxOQPF0Fugp6W0KDBToEzO18UTyHHoGXUae/AO8CYEeI54Czt9bOA9l4UAHP6GwNTtaZC1CnwLkruq2ifn7XDESqAfu5fjrhxVF61ASoAHgokSwZYtQEyAG8QigFA7Hw3ChMcADQ9ALIDeAEGq/QJLomBOAAAAABJRU5ErkJggg==) top left repeat-x;
    height: 30px;
    width: 320px
}

.medium-star .star-common {
    height: 30px;
    line-height: 30px;
    width: 64px
}

.medium-star .star-common:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAeCAYAAACc7RhZAAAAyUlEQVRYw+2YQQ6AMAgEfRo/6Vf42T4NbeKhaawWUw8smsxNExkXUDcz2zKTuvhfwBcCPEcpRSuea9gEoJJZgFVSCjjjbyeaUQAaAcgowFpSCeji72oDFgG4EIBMAuwKCgGDp7sKhEjARxIQqgWOG5aFxUvIGbBIgoQfgi9bAlRbYLD7RyjlGpwVQPkekD4BzjkARgGuIUgl4Cb+crMqlUkAniI+c05kAVMDrk8DhYCuKJn4UpQmDcIgQL1/fpuW0HACovELyC5gBx0Ijiqk8s12AAAAAElFTkSuQmCC) left center repeat-x;
    left: 0px;
    z-index: 20
}


.neutral .medium-star .current-rating .neutral .medium-star .star-common:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAeCAYAAACc7RhZAAAAyUlEQVRYw+2YQQ6AMAgEfRo/6Vf42T4NbeKhaawWUw8smsxNExkXUDcz2zKTuvhfwBcCPEcpRSuea9gEoJJZgFVSCjjjbyeaUQAaAcgowFpSCeji72oDFgG4EIBMAuwKCgGDp7sKhEjARxIQqgWOG5aFxUvIGbBIgoQfgi9bAlRbYLD7RyjlGpwVQPkekD4BzjkARgGuIUgl4Cb+crMqlUkAniI+c05kAVMDrk8DhYCuKJn4UpQmDcIgQL1/fpuW0HACovELyC5gBx0Ijiqk8s12AAAAAElFTkSuQmCC)
}

.medium-star .first-star {
    left: 0px
}

.medium-star .first-star:hover {
    width: 64px
}

.medium-star .second-star {
    left: 64px
}

.medium-star .second-star:hover {
    width: 128px
}

.medium-star .third-star {
    left: 128px
}

.medium-star .third-star:hover {
    width: 192px
}

.medium-star .fourth-star {
    left: 192px
}

.medium-star .fourth-star:hover {
    width: 256px
}

.medium-star .fifth-star {
    left: 256px
}

.medium-star .fifth-star:hover {
    width: 320px
}

.star-rating-non-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQVQoz2P4//8/AzmYgWKN6KC4uFgYhGF8UjTqgjBJGqG2GUOxMF6NQAViQCwFxGpAbICk0QAqBpITw6ZRAUkxLqyA1akENCvg9SNQgRYWTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC) top left repeat-x;
    left: -1px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 1px
}

.current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQVQoz2P4//8/AzmYgWKN6KC4uDgBhGF8UjQ+AGGSNEJt+w/FCXg1AhUUAHEDEB8A4g9IGj9AxUByBdg0LkBSjAsvwOpUApoX4PUjUMEFLJouEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) left bottom repeat-x;
    display: block;
    position: absolute
}

.small-star.star-rating-non-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsUlEQVRIx+2VwQqAIAyGhaCbJ6GD16CDIAg9mu+PaSwRKdlcdir4LuX+z9gsEUIQIxG/gCxoXd57lWit4QpsYogAdr8DaoTAFgL7qiAGyiL8QnYJYuEMgUtER7Zq9/kt4JmGtalmxgjMTRgWgxFMnZJUM6F60CE5w0lNJkhyOHmKHqanOU1UgUIIFEegEQLNEaxV2AaU91aOwBSHSla9uQ6f4Qhc68MGPXIkwf/L/FxwAO0mlhG18a/zAAAAAElFTkSuQmCC);
    height: 24px;
    width: 120px
}

.small-star .current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAtUlEQVRIx+2V0Q2AIAwFGcERHIVRGMGEBRjJERyBERjBDRBMIYQoaan4hcn9KH2HaVHhvRcjEVNAFrQurbWKtNZwBS4yRAC794AaIXCFwH0qCIGyCE/ILkEoXCFwC5jAUe0+vwU8M7A21qwYgX0Iw2IxgqVTEmsWVA86JHc4qckESQ4nT9HL9DSniSpQCIHiCAxCYDiCvQo7gPLezhHY4lDJqjfp8FmO4Gx92KBHJ0kwf5m/Cy7I+/QV0GWAnwAAAABJRU5ErkJggg==) left bottom;
    height: 24px
}

.neutral .small-star .current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAtUlEQVRIx+2V0Q2AIAwFGcERHIVRGMGEBRjJERyBERjBDRBMIYQoaan4hcn9KH2HaVHhvRcjEVNAFrQurbWKtNZwBS4yRAC794AaIXCFwH0qCIGyCE/ILkEoXCFwC5jAUe0+vwU8M7A21qwYgX0Iw2IxgqVTEmsWVA86JHc4qckESQ4nT9HL9DSniSpQCIHiCAxCYDiCvQo7gPLezhHY4lDJqjfp8FmO4Gx92KBHJ0kwf5m/Cy7I+/QV0GWAnwAAAABJRU5ErkJggg==)
}

.tiny-star.star-rating-non-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQVQoz2P4//8/AzmYgWKN6KC4uFgYhGF8UjTqgjBJGqG2GUOxMF6NQAViQCwFxGpAbICk0QAqBpITw6ZRAUkxLqyA1akENCvg9SNQgRYWTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC);
    height: 14px;
    width: 69px
}

.tiny-star .current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQVQoz2P4//8/AzmYgWKN6KC4uDgBhGF8UjQ+AGGSNEJt+w/FCXg1AhUUAHEDEB8A4g9IGj9AxUByBdg0LkBSjAsvwOpUApoX4PUjUMEFLJouEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) left bottom;
    height: 14px
}

.medium-star.star-rating-non-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAeCAYAAACc7RhZAAAA+klEQVRYw+2XUQqEMAxEPZpHy3cv1aNlKaRL7VqTuCzsJAoDCgrmddJMN2beMit18Q+AXwDwXKUUavJ8Ew1AbcoMgJtSAhD7s4iyAiDvPhAJQFv5XcSpAMxFdxiZABxs72mDKAAOK+5pg78HILOdNa1GoqIK4YABgqmvLftFD0wwLTD8OH1RPM0gofaAefVuxOQPF0Fugp6W0KDBToEzO18UTyHHoGXUae/AO8CYEeI54Czt9bOA9l4UAHP6GwNTtaZC1CnwLkruq2ifn7XDESqAfu5fjrhxVF61ASoAHgokSwZYtQEyAG8QigFA7Hw3ChMcADQ9ALIDeAEGq/QJLomBOAAAAABJRU5ErkJggg==);
    height: 30px;
    width: 320px
}

.medium-star .current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAeCAYAAACc7RhZAAAAyUlEQVRYw+2YQQ6AMAgEfRo/6Vf42T4NbeKhaawWUw8smsxNExkXUDcz2zKTuvhfwBcCPEcpRSuea9gEoJJZgFVSCjjjbyeaUQAaAcgowFpSCeji72oDFgG4EIBMAuwKCgGDp7sKhEjARxIQqgWOG5aFxUvIGbBIgoQfgi9bAlRbYLD7RyjlGpwVQPkekD4BzjkARgGuIUgl4Cb+crMqlUkAniI+c05kAVMDrk8DhYCuKJn4UpQmDcIgQL1/fpuW0HACovELyC5gBx0Ijiqk8s12AAAAAElFTkSuQmCC) left bottom;
    height: 30px
}

.neutral .medium-star .current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAeCAYAAACc7RhZAAAAyUlEQVRYw+2YQQ6AMAgEfRo/6Vf42T4NbeKhaawWUw8smsxNExkXUDcz2zKTuvhfwBcCPEcpRSuea9gEoJJZgFVSCjjjbyeaUQAaAcgowFpSCeji72oDFgG4EIBMAuwKCgGDp7sKhEjARxIQqgWOG5aFxUvIGbBIgoQfgi9bAlRbYLD7RyjlGpwVQPkekD4BzjkARgGuIUgl4Cb+crMqlUkAniI+c05kAVMDrk8DhYCuKJn4UpQmDcIgQL1/fpuW0HACovELyC5gBx0Ijiqk8s12AAAAAElFTkSuQmCC)
}

.write-star-rating-container:hover .small-star .star-rating-editable-container,.write-star-rating-container:hover .medium-star .star-rating-editable-container,.write-star-rating-container .tiny-star.star-rating-non-editable-container,.write-star-rating-container .small-star.star-rating-non-editable-container,.write-star-rating-container .medium-star.star-rating-non-editable-container {
    display: inline-block
}

.write-star-rating-container .small-star .star-rating-editable-container,.write-star-rating-container .medium-star .star-rating-editable-container,.write-star-rating-container:hover .tiny-star.star-rating-non-editable-container,.write-star-rating-container:hover .small-star.star-rating-non-editable-container,.write-star-rating-container:hover .medium-star.star-rating-non-editable-container {
    display: none
}

.stars-container,.stars-count {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap
}

.alert-message-container {
    display: none
}

.alert-review-text-container {
    color: #c74b46;
    display: inline-block;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    vertical-align: top
}

.alert-image-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAu0lEQVRIx2P4//8/Ay0xTQ0fhhbgA7ddLASAeAMQL8ClhlILGoD4PxQXUNUCqOs/IFkAYgtQ04IFSIbD8ASqWAA0yACL4TCsQA0LDuCx4ABFFgANCEA2EEkc2RIHSix4QIQFF8iyAC1Z4rMAhBNIsgBLsiRkATjZkmLBBGyRiscCEG4gygJQ0sOTaghhBWIswJksCfgAhDfgtQCU5PC5kAgLwMkWnwUbKAgerL5At2ACFSyYMIxrtCFpAQBbxRgTazqtGQAAAABJRU5ErkJggg==);
    display: inline-block;
    height: 24px;
    width: 24px
}
 