# System files & Artifacts
.DS_Store
.phplint.cache
build.properties
build
selenium-server.jar
node_modules
npm-debug.log

# IDE
.idea
nbproject

# Vagrant
.vagrant
varrgrant.json

# Composer
vendor
composer.lock

# Project files
tests/wp-tests-config.php
# js/libs/QuantiModo-SDK-JavaScript/quantimodo-api.js