/* Base */

.select2-container {
	margin-bottom: 10px;
	padding: 0;
	overflow: hidden;
}

.input-group-lg > .select2-container,
.input-group-sm > .select2-container {
	padding: 0;
}

.form-horizontal .select2-container {
	margin-bottom: 0;
}

.input-group .select2-container {
	margin-bottom: 0;
}

.select2-container-multi {
	height: auto;
}

.input-group-lg > .select2-container-multi,
.input-group-sm > .select2-container-multi {
	height: auto;
}



.select2-choice {
	position: relative;
	display: block;
	color: #555555;
}

.select2-choice:focus,
.select2-choice:hover {
	color: #555555;
	text-decoration: none;
}

.select2-choice:focus {
	outline: 0;
}



.select2-input {
	border: none;
	outline: 0;
	color: #555555;
	vertical-align: middle;
}



.select2-default {
	color: #999999;
}

.select2-default:focus,
.select2-default:hover {
	color: #999999;
}



.select2-choice .select2-chosen {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}



.select2-choices {
	margin: 0;
	padding: 0;
	cursor: text;
}

.select2-choices:before,
.select2-choices:after {
	display: table;
	content: " ";
}

.select2-choices:after {
	clear: both;
}

.select2-choices li {
	float: left;
	list-style: none;
}




.select2-search-choice {
	margin: 3px;
	display: inline-block;
	background-color: #FFFFFF;
	position: relative;
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	vertical-align: middle;
	cursor: default;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

.select2-search-choice-focus {
	color: #333333;
	background-color: #EBEBEB;
	border-color: #ADADAD;
}



.select2-search-choice-close {
	margin-top: -1em;
	padding: 0.5em;
	display: none;
	position: absolute;
	top: 50%;
	right: 2em;
	cursor: pointer;
	font-size: 10px;
	color: #555555;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.select2-search-choice-close:before {
	content: "\e014";
}

.select2-search-choice-close:hover,
.select2-search-choice-focus .select2-search-choice-close {
	color: #000000;
}

.select2-allowclear .select2-search-choice-close {
	display: block;
}

a.select2-search-choice-close {
	display: block;
	right: 0;
}

a.select2-search-choice-close:focus,
a.select2-search-choice-close:hover {
	text-decoration: none;
}

a.select2-search-choice-close:focus {
	outline: 0;
}



.select2-choice .select2-arrow {
	height: 100%;
	border-left: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	position: absolute;
	top: 0;
	right: 0;
	color: #555555;
}

.select2-choice b {
	margin-top: -1em;
	padding: 0.5em;
	display: block;
	position: relative;
	top: 50%;
	font-size: 10px;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.select2-choice b:before {
	content: "\f063";
}



.select2-drop {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-top: none;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	position: absolute;
	overflow: hidden;
	color: #555555;
	z-index: 9999;
}

.select2-drop.select2-drop-above {
    border-top: 1px solid #CCCCCC;
    border-bottom: none;
	border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-display-none {
	display: none;
}



.select2-search {
	padding: 4px;
}

.select2-search input {
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	font-size: 12px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.select2-search input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}



.select2-results {
	max-height: 240px;
	min-height: 25px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.select2-result-sub {
	margin: 0;
	padding: 0;
}

.select2-selection-limit,
.select2-searching,
.select2-no-results,
.select2-result-label {
	padding: 3px 20px;
}

.select2-result-with-children > .select2-result-label {
	padding-left: 5px;
	font-style: italic;
	font-weight: bold;
}

.select2-result-selectable {
	cursor: pointer;
}

.select2-disabled {
	color: #999999;
	cursor: not-allowed;
}

.select2-highlighted {
	background-color: #428BCA;
	color: #FFFFFF;
}

.select2-match {
	font-weight: bold;
}

.select2-selected {
	display: none;
}



.select2-drop-mask {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 9998;
	/* styles required for IE to work */
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-offscreen,
.select2-offscreen:focus {
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	outline: 0 !important;
	left: 0px !important;
	top: 0px !important;
}

select.select2-offscreen {
	display: none !important;
}










/* Active */

.select2-container-active {
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.select2-dropdown-open {
	border-color: #CCCCCC;
	-webkit-box-shadow: none;
			box-shadow: none;
	-webkit-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
}

.select2-dropdown-open.select2-drop-above {
	-webkit-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
}

/*
.select2-dropdown-open .select2-arrow {
	background-color: transparent;
	border-left: none;
}

.select2-dropdown-open .select2-choice b:before {
	content: "\e113";
}
*/










/* Disabled */

.select2-container-disabled .select2-choice,
.select2-container-disabled .select2-choices {
	background-color: #EEEEEE;
	cursor: not-allowed;
}

.select2-container-disabled .select2-search-choice {
	color: #333333;
	background-color: #EBEBEB;
	border-color: #ADADAD;
	cursor: not-allowed;
}

.select2-container-disabled .select2-search-choice-close {
	display: none;
}










/* RTL */

.select-rtl {
	text-align: right;
}

.select-rtl .select2-choice,
.select-rtl .select2-input {
	direction: rtl;
}

.select-rtl .select2-search-choice-close {
	left: 2em;
	right: auto;
}

.select-rtl .select2-choice .select2-arrow {
	border-right: 1px solid #CCCCCC;
	border-left: none;
	left: 0;
	right: auto;
}

.select-rtl .select2-choices li {
	float: right;
}

.select-rtl a.select2-search-choice-close {
	left: 0;
	right: auto;
}










/* Sizes */

.select2-choice {
	padding-right: 21px;
}

.input-group-lg .select2-choice,
.input-lg .select2-choice {
	padding-right: 25px;
}

.input-group-sm .select2-choice,
.input-sm .select2-choice {
	padding-right: 17px;
}



.select-rtl .select2-choice {
	padding-left: 21px;
	padding-right: 0;
}

.input-group-lg .select-rtl .select2-choice,
.input-lg.select-rtl .select2-choice {
	padding-left: 25px;
	padding-right: 0;
}

.input-group-sm .select-rtl .select2-choice,
.input-sm.select-rtl .select2-choice {
	padding-left: 17px;
	padding-right: 0;
}



.select2-chosen,
.select2-input.select2-default {
	padding: 6px 12px 6px 12px;
}

.input-group-lg .select2-chosen,
.input-group-lg .select2-input.select2-default,
.input-lg .select2-chosen,
.input-lg .select2-input.select2-default {
	padding: 10px 16px 10px 16px;
}

.input-group-sm .select2-chosen,
.input-group-sm .select2-input.select2-default,
.input-sm .select2-chosen,
.input-sm .select2-input.select2-default {
	padding: 5px 10px 5px 10px;
}



.select2-search-choice {
	padding-right: 20px;
}

.input-group-lg .select2-search-choice,
.input-lg .select2-search-choice {
	font-size: 14px;
	margin: 4px;
	padding-right: 24px;
}

.input-group-sm .select2-search-choice,
.input-sm .select2-search-choice {
	padding-right: 16px;
}



.select-rtl .select2-search-choice {
	padding-left: 20px;
	padding-right: 0;
}

.input-group-lg .select-rtl .select2-search-choice,
.input-lg.select-rtl .select2-search-choice {
	padding-left: 24px;
	padding-right: 0;
}

.input-group-sm .select-rtl .select2-search-choice,
.input-sm.select-rtl .select2-search-choice {
	padding-left: 16px;
	padding-right: 0;
}



.select2-locked,
.select2-container-disabled .select2-search-choice {
	padding-left: 0;
	padding-right: 0;
}

.input-group-lg .select2-locked,
.input-lg .select2-locked,
.input-group-lg .select2-container-disabled .select2-search-choice,
.input-lg.select2-container-disabled .select2-search-choice {
	padding-left: 0;
	padding-right: 0;
}

.input-group-sm .select2-locked,
.input-sm .select2-locked,
.input-group-sm .select2-container-disabled .select2-search-choice,
.input-sm.select2-container-disabled .select2-search-choice {
	padding-left: 0;
	padding-right: 0;
}



.select2-search-choice div {
	padding: 3px 6px 3px 6px;
}

.input-group-lg .select2-search-choice div,
.input-lg .select2-search-choice div {
	padding: 6px 12px 6px 12px;
}

.input-group-sm .select2-search-choice div,
.input-sm .select2-search-choice div {
	padding: 1px 5px 1px 5px;
}



.select2-choice b,
.select2-search-choice-close {
	font-size: 10px;
}

.input-group-lg .select2-choice b,
.input-group-lg .select2-search-choice-close,
.input-lg .select2-choice b,
.input-lg .select2-search-choice-close {
	font-size: 12px;
}

.input-group-sm .select2-choice b,
.input-group-sm .select2-search-choice-close,
.input-sm .select2-choice b,
.input-sm .select2-search-choice-close {
	font-size: 8px;
}



.select2-input {
	height: 32px;
}

.input-group-lg .select2-input,
.input-lg .select2-input {
	height: 43px;
}

.input-group-sm .select2-input,
.input-sm .select2-input {
	height: 28px;
}



.select2-choices .select2-input {
	padding: 6px 3px 6px 3px;
}

.input-group-lg .select2-choices .select2-input,
.input-lg .select2-choices .select2-input {
	padding: 10px 4px 10px 4px;
}

.input-group-sm .select2-choices .select2-input,
.input-sm .select2-choices .select2-input {
	padding: 5px 3px 5px 3px;
}















.select2-container {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 100%;
}

.select2-search-choice-close {
	font-family: 'FontAwesome';
}

.select2-choice b {
	font-family: 'FontAwesome';
}

.select2-search-choice-close:before {
	content: "\f00d";
}

.select2-choice b:before {
	content: "\f078";
}

