html, body {
	width:  100%;
  	height: 100%;
 	margin: 0px;
}

#LineContainer, #BarContainer {
	padding-bottom: 10px;
	width: 96%;
}

#graphHeader {
	color: #313F66;
	margin-bottom: 2px;
}

#reportMoodHeader {
	color: #5D83FF;
	margin-bottom: 20px;
}

.myHeader.ui-li-heading {
    color: #cc0000;
}

.ui-li-text-sub {
    display: block;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    text-overflow: ellipsis;
}

#pageHeader {
	color: #5D83FF;
	margin-bottom: -5px;
}

#welcomeText {
	color: #313F66;
	font-size: large;
}