<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vote Thumbs
            <span ng-if="opts.likeValue == 1">Up</span>
            <span ng-if="opts.likeValue == 0">Down</span>
        </h4>
    </div>
    <div class="modal-body">
        <p>
            <span> Do you </span>
            <u ng-if="opts.likeValue == 1">AGREE</u>
            <u ng-if="opts.likeValue == 0">DISAGREE</u>
            <span>
                {{opts.correlation.predictorExplanation}}?
            </span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</div>
<!-- /.modal-content -->

